* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #f6d365;
    --secondary: #fda085;
    --terciary: #ff6f47;
    --green: #0bd4a2;
}

.mode {
    position: fixed;
    z-index: 1000;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    color: #fff;
    border-radius: 100px;
    padding: 8px;
    opacity: .7;
    cursor: pointer;
    background-color: var(--secondary);
}

.mode:hover {
    transition: .2s;
    transform: scale(1.05);
    opacity: 1;
}

body {
    background-image: linear-gradient(120deg, var(--primary) 0%, var(--secondary) 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: var(--terciary);
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: var(--terciary);
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.todo-list {
    min-width: 250px;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.filter-todo {
    padding: 1rem;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: var(--terciary);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: var(--green);
}

.todo-item {
    padding: 0rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}


/*CUSTOM SELECTOR */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}


/* Custom Select */

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: var(--terciary);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
}


/* Arrow */

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: var(--terciary);
    cursor: pointer;
    pointer-events: none;
}

@media (max-width:750px) {
    form {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 80%;
        margin: auto auto;
    }
    form>div {
        display: flex;
        justify-content: flex-end;
    }
    header {
        font-size: 1.5rem;
        text-align: center;
    }
    .select {
        margin-right: 0;
    }
    .todo-input {
        width: 80%;
        height: 3.5rem;
        font-size: 18px;
    }
    .todo-container {
        margin-top: 1rem;
    }
    .todo-item {
        font-size: 12px;
    }
}

@media (max-width:370px) {
    header {
        font-size: 1rem;
    }
}